@model Otobus1.Models.Bilet
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="jumbotron">
        @Session["Ad"] @Session["Soyad"] 
    </div>
</div>
<form class="form-group col-md-5 bg-success" method="post">

    <div>
        <label>Nereden</label>
        <input type="text" class="form-control" name="Ad" required />
    </div>
    <div>
        <label>Nereye</label>
        <input type="text" class="form-control" name="Aciklama" required />
    </div>
    <div>
        <label>Tarih</label>
        <input type="date" class="form-control" name="Stok" required />
    </div>


    <div style="margin-top20px">
        <button class="btn btn-info" type="submit">Satış İşlemlerini Yap</button>
    </div>

</form>

